
/* this is for Yang Zhenhua..... */
*{box-sizing: border-box;}

/* css for body*/
body{
    padding: 10px;
	background-color:#cbf6ff;
	background-repeat: no-repeat;
	background-size:cover;
	width: 1280px;
    margin: 0 auto;
}
/* css for body*/

/* css for container */
.container{
    min-height: 500px;
    width:100%;
} 
/* end css for container*/

/* css for header */
header{
	width: 100%;
	clear: both;
    min-height: 120px;
}

.ping{
width:35%; 
float: left;
text-align: center;   
min-height:120px;

}

.logo{
    width:100%;
    height:120px;
    float: left;
  
}

nav{
margin: 0 auto;
width:65%; 
display: inline-block;
vertical-align: bottom;
padding-top: 55px;	
text-align: center;
height:80px;

}


nav a{
text-decoration:none;
display: inline-block;
padding: 10px;
font-size:35px;
color:#4D658B;
font-family: 'Dancing Script', cursive;
}
nav a:hover{
background:white;
opacity:0.5;
}
/* end css for header */

h1{
    text-align: center;   
    font-family: 'Arbutus Slab', serif;
}
img{
    width: 100%;
    
}


/* css for footer */
footer{
	width: 100%;
	clear: both;
    border-top: 1px solid #000000;
    text-align: center;
    font-size:25px;
}
.icon{
    width: :100%
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color:#000000;
}
/* end css for footer */

/* css for index.html */
.home{
	width: 50%;
    float: left;
    height:200px;
    padding: 60px;
	display: table;
    font-size:20px;
    line-height: 2;
    color:#0C0F9F;
}

.contactm{

    height:500px;
}
/* css for index.html */

/* css for the serives.html and accommodation.html search icon and word display */
.eng{
    width:30%;
    border-right:1px solid #000000;
    float: left;
    min-height: 550px;
}


.s1{
    margin-left:67px;
    margin-right:67px;
    margin-top: 30px;
    width:250px;
    height:40px;
    text-align: center;
}

.searchp{
    width:100px;
    height:100px
    
}

.search{
width: 100%;
text-align: center;

}

.sword{
font-size:35px;
float: left;
margin-top: 30px;
color: #000000;
}
/* end css for the serives.html and accommodation.html search icon and word display */

/* css for the serives.html and accommodation.html picture displace part page*/
.pack{
    width:70%;
    padding:20px; 
    float:right;
}

.pack2{

    width:30%;
    height:250px;
    margin:10px;
    display: inline-block;
    text-align: center;  
    font-size: 20px;

}

.pack3{
    width:90% ;
    height:150px;
    
}

/* end css for the serives.html and accommodation.html picture displace part page*/

/* css for the contact.html page*/
.contact{
    width: 50%;
    height:550px;
    float: left;
}

.c12{
    width: 45%;
    height:30px;
    float: left;
    margin-left: 20px;
}

.c1{
    width: 45%;
    height:30px;
    float: right;
    position: relative; /*use as a hack to move it inle with the rest*/ 
    left: 20px; 
}

.c2{
    width: 100%;
    height:30px;
    float:left;
    margin: 20px;
    text-align: center; 
}

.c3{
    width: 100%;
    height:400px;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
/* end css for the contact.html page*/

/* css for the flight.html page*/
.flight{
    width:83%;
    margin: 0 auto;
    min-height: 300px;

}
.flightcc{
    margin: 0 auto;
    
}
.f1{
    height: 30px;
}

.calan{
    color: #000000;
    font-size:32px;
    position: relative;
    top:5px;
}

.fll{
    color:#000000;
    font-size:32px;
    text-decoration: none;
    position: relative;
    top:5px;
}

.ft{
    background-color: #FFFFFF;
}

/* css for the flight.html page*/
strong{
    font-size: 30px;
}

.cc{
    font-size:15px;
}

figure{
    padding: 0px;
    margin: 0px;
}

